
footer {
  padding: 6rem 0;
  background-color: $bg-footer;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  overflow: hidden;

  p {
   max-width: 70rem;
   margin-bottom: 24px;
 }
}

footer::before,
footer::after {
  content: "";
  width: 30rem;
  height: 20rem;
  background: url("../images/tape.png") no-repeat;
  background-size: cover;
  position: absolute;
  bottom: -30px;
}

footer::before {
  left: -50px;
  transform: rotateZ(-10deg);
}

footer::after {

  right: -50px;
  transform: rotateZ(10deg);
}